<br>
<div class="row">
    <div class="col-sm-1 padding-style">
        <mat-card class="cards" style="background-color:rgb(226, 226, 226);" (click)="showItems()">-</mat-card>
    </div>
    <div class="col padding-style" *ngFor="let data of products">
        <mat-card class="cards">
            <img src="{{data.photoURL}}">
            {{data.name}}
        </mat-card>
    </div>
    <div class="col-sm-1 padding-style">
        <mat-card class="cards" style="background-color:rgb(226, 226, 226);">+</mat-card>
    </div>
</div>
<br>