<p>
  Lista Primaria
  <button data-bs-toggle="modal" type="button" data-bs-target="#modaldeinfo">?</button>
</p>
<table class="table">
  <tbody>
    <tr *ngFor=" let list of allShoppingLists; let i = index">
      <div (click)="listSelected(i)" [ngStyle]="{'background-color': i==Selected ? '#7babf767' : ''}">
        <td>
          <span>
            {{list.name}}
            <br>
            items {{list.items.length}}
          </span>
        </td>
        <td>
          <div class="more_list_options">
            <button id="btn_more" class="material-icons more">more_vert</button>
            <div class="btns">
              <button id="btn_compartir" (click) = "share(list)">Compartir</button>
              <button id="btn_cambiar_nombre" (click) = "changeListName(list)">Cambiar nombre</button>
              <button id="btn_borrar" (click) = "deleteList(list)">Borrar</button>
            </div>
          </div>

        </td>
      </div>
    </tr>
  </tbody>
</table>
<button data-bs-toggle="modal" type="button" data-bs-target="#crearnuevalista" (click)="createNewList()">Create New List</button>
<p>Send FeedBack</p>
<p>Help</p>
<p>Privacy - terms</p>