
 body {
    background: #121212;
    color:#E8EAED;
    font-family: 'Montserrat', sans-serif;
    font-style:bold;
    padding: 0px;
    margin: 0px;
   
  
  }
  
  
  .new-item-section {
    text-align: center;
    justify-content:center;
    align-items:center;
    height:10%;
  }
  
  .new-item-section input {
  background:#202124;
  height:100%;
  margin:0px;
  padding-top: 0px;
  border-right:0px;
  border-bottom:1px solid #303134;
  
  
  }
  .add{
  background:#202124;
   color:#9AA0A6;
  height: 100%;
  
  align-self: center;
  border-right:0px;
  border-left:0px;
  border-top:0px;
  border-bottom:1px solid #303134;
  
  }
  .header {
    background: #303134;
    margin:auto;
    height: 10%;
    font-weight: bold;
  
  
  }
  .logo-nav-container{
   align-items: stretch;
   display: flex;
   justify-content: space-between;
   align-items:center;
  
  } 
  
  .more{
    visibility: visible;
  }
  .logo-nav-container button {
  border:0;
  background:#303134;
  color:#9AA0A6;
  }

  .agregar_colaborador:focus-within  .add_colab_btn {
    visibility: visible;
    position: relative;
  
  }
  .add_colab_btn {
 
    visibility: hidden;
    background-color: #303134;
    align-items: stretch;
    -webkit-flex-direction: column-reverse;
    display: flex;
    flex-direction: column-reverse;
    margin:auto;
    justify-items: center;
    
  }

  .text_button{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    justify-self: center;
  }



 
  .agregar_colaborador:before{
  
    content: #121212;
    border-style: solid;

  }
  
