<header class= "header">
    <div class="container logo-nav-container">
      
     
         <button id="btn_menu" class="material-icons">menu</button>
         <label>UPostBag Shopping List</label>
         <button id="btn_share" class="material-icons share">share</button>
         <button id="btn_more" class="material-icons more">more_vert</button>
         <button id="btn_account_pfp" class="material-icons account" (click)="login()">account_circle</button>
         <button id="btn_account_pfp" class="material-icons account" (click)="logout()">logout</button>
 
      
  </div>     
   
</header>