body {
  color: #92989d;
  background-color: #303134;
  margin: 0px;
}
header{
  color: #92989d;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top:9%;
  padding-left:7%;
}

.table button{
  color: #92989d;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-top:9%;
  padding-left:7%;
}

.outlined{
  background-color: #303134;
  border: 0px;
  color: #9aa0a6;
  vertical-align: bottom;
}
.newlistsection{
  padding: 10px;
  border-top: 1px solid #474747;
  border-bottom: 1px solid #474747;
}
.newlistsection button{ 
  margin: auto;
  display:block;
  color: #78a6f0;
  background-color: #303134;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  justify-self: center;
 
  border: 0px;
}

mat-sidenav-container {
  height: 100%;
}

mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: #92989d;
  width: 200px;
}