:host{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-direction: column;
  background-color: #121212;
}
.fb-svg{
  svg{
    height: 1rem;
    width: 1rem;
    fill: white;
  }
  

}
.car{
  svg{
    height: 5rem;
    width: 5rem;
    fill:#303134;
  }
}


::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: white !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: white !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color: white !important;;
}