<div *ngIf="isLoad; then UPostBag else loading"></div>
<ng-template #loading>
  <html>
     <div class="loader">
  </div>
  </html>
 
</ng-template>
<ng-template #UPostBag>
  <!DOCTYPE html>                   


  
  <html lang="es">

  <head>
    <title>UPostBag</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body class="clickdiv" *ngIf="!redirectTo; else sharepage">
    <mat-sidenav-container>
      <mat-sidenav #sidenav>
        <navbar 
        [allShoppingLists]="allShoppingLists" 
        [Selected]="positionPrimaryList" 
        [userInfo] = "userInfo"
        (sendSelected)="changeSelected($event)"
        (sendNewNameList)="changeListName($event)"
        ></navbar>
      </mat-sidenav>
      <mat-sidenav-content style="background-color: #121212;">
        <header class="header">
          <div class="container logo-nav-container">
            <button id="btn_menu" class="material-icons" (click)="sidenav.toggle()">menu</button>
            <label class="headerlabel">UPostBag Shopping List</label>
            <button class="material-icons share" (click)="share()">share</button>
            <div class="agregar_colaborador">
              <button id="btn_more" class="material-icons more">more_vert</button>
              <div class="add_colab_btn">
                <button id="add_colaborator" (click)="redirectTo = !redirectTo">
                  <span class="material-icons add_person">person_add_alt</span>
                  <span class="text_button">Agregar colaborador</span>
                </button>
              </div>
            </div>
            <button mat-mini-fab icon-profile
              style="background-image: url({{actualUser.photoURL}}); background-repeat: no-repeat; background-size: cover; background-position: center;"></button>
          </div>
        </header>
        <div class="container bodycontainer">
          <div class="row">
            <div class="col-sm-1 padding-style">
              <button mat-icon-button color="primary">
                <mat-icon class="icon-plus">add</mat-icon>
              </button>
            </div>
            <div class="col">
              <input class="form-control" type="text" placeholder="Agregar articulo">
            </div>
          </div>

          <!-- Products by default Section -->
          <product-by-default 
          [products]="productsByDefault"
          (sendItemSelected)="ItemSelected($event)"></product-by-default>
          <!-- End of Products by default section -->

          <!-- List Elements Section -->
          <product-item [productsItems]="productsItem"></product-item>
          <!-- End of List Elements Section -->
         

        </div>

        <ng-container *ngIf=" productsItem.length==0">
          <div class="background-deco">
            <button class="material-icons outlined listbtn">
                format_list_bulleted
            </button>
            <div class="backg-text">
              <h5>Su lista está vacia</h5>
              <p>Comienza a agregar los artículos que necesitas para que no se te olvide nada. También puedes compartir las listas de compras con otros usuarios.</p>
            </div>
          </div>
          </ng-container>
      </mat-sidenav-content>
    </mat-sidenav-container>
  
  <div id="modaldeinfo" class="modal fade modaldeinfo" role="dialog" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Lista principal</h5>

        </div>

        <div class="modal-body">
          <p>Cuando agrega artículos con el Asistente de Google, estos se agregan a su lista principal. Puede cambiar su
            lista principal en cualquier momento.</p>
        </div>
        <div class="modal-footer">
          <button class="btn_entendido" data-bs-toggle="modal">ENTENDIDO</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Pop Up de Cambio de Nombre para la Lista  -->
  <div id="modalCambiarNombre" class="modal fade  modalCambiarNombre" role="dialog" data-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered ">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Cambiar nombre de la lista</h5>

        </div>

        <div class="modal-body">
          <input type="text" class="new-name" placeholder="Nombre de la lista" [(ngModel)]="listName" required>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn_cancelarCrearList" data-bs-toggle="modal">CANCELAR</button>
          <button [disabled]="listName == ''" [ngStyle]="{'color': listName == '' ? '#535252' : ''}" class="btn_crear" type="submit" data-bs-toggle="modal" (click)="changeDBlistName()">Aceptar</button>
          </div>
      </div>
    </div>
  </div>
  <!--Fin del Pop Up de Cambio de Nombre para la Lista  -->

  <!-- Pop Up de la creacion de nueva lista -->
  <form>
    <div id="crearnuevalista" class="modal fade crearnuevalista" role="dialog" tabindex="-1">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5>Cree una nueva lista</h5>
          </div>
          <div class="modal-body">
            <form [formGroup]="creacionLista">
              <input type="text" class="new-article" placeholder="Asigne un nombre a su nueva lista"
              formControlName="listname"  required>
           
              <input id="inputCheckbox" type="checkbox"  formControlName="isPrimary">
              <label for="inputCheckbox">Deseo que esta sea mi lista principal</label>

              <div class="modal-footer">
                <button type="button" class="btn_cancelarCrearList" data-bs-toggle="modal">CANCELAR</button>
                <button [disabled]="listName == ''" [ngStyle]="{'color': listName == '' ? '#535252' : ''}" class="btn_crear" type="submit" (click)="createNewList()">CREAR</button>
              </div>
            </form>
        </div>
         
        </div>
      </div>
    </div>
  </form>
  <!-- Fin Pop Up creacion de lista -->
   
  </body>


  <!-- Collaborator Template -->
  <ng-template #sharepage>
    <colaborators 
    (sendEmail)="addCollab($event)"
    (save)="saveChanges()"
    (go_back_click)="goBackClicked($event)" 
    [collaboratorsUsers]="allShoppingLists[this.positionList].collaborator"> </colaborators>
  </ng-template>
  <!-- End of Collaborators Template -->

  </html>
</ng-template>
