<!DOCTYPE html>
<html lang="es">
<head>
   
    <title>UPostBag</title>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body class="clickdiv"   *ngIf="!redirectTo; else sharepage" >
    <mat-sidenav-container>
        <mat-sidenav #sidenav>
            <navbar [allShoppingLists] = "allShoppingLists"></navbar>
        </mat-sidenav>
        <mat-sidenav-content style="background-color: #121212;">
            <header class= "header">
                <div class="container logo-nav-container">
                  <button  id="btn_menu" class="material-icons" (click)="sidenav.toggle()" >menu</button>
                  <label>UPostBag Shopping List</label>
                  <button id="btn_share" class="material-icons share" >share</button>
                  <div class= "agregar_colaborador"> 
                    <button id="btn_more" class="material-icons more">more_vert</button>
                    <div class= "add_colab_btn" >
                      <button  id="add_colaborator"  (click)="redirectTo = !redirectTo" >
                        <span  class="material-icons add_person">person_add_alt</span>
                        <span class="text_button">Agregar colaborador</span>
                      </button>
                    </div>
                  </div>
                  <button mat-mini-fab icon-profile style="background-image: url({{actualUser.photoURL}}); background-repeat: no-repeat; background-size: cover; background-position: center;"></button>
                </div>     
              </header>
            <main class= "main">
                <div class="new-item-section">
                    <button id="btn_add" class="material-icons add">add</button>
                    <input type="text" id="new-article" >
                  
                </div>

                <product-by-default></product-by-default>
                

                    <div class="items-list">
                       <ul>
                        <product-item [productsItems] = "allShoppingLists[0].products"></product-item>
                       </ul>
                    </div>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
    <footer class = "footer">
        <div class="container">
            <P>@UPostBag</P>
        </div>
    </footer>
</body>
<ng-template  #sharepage>
    <colaborators (go_back_click)="goBackClicked($event)" [collaboratorsUsers] = "allShoppingLists[0].users"> </colaborators>
</ng-template >
</html>