<!DOCTYPE html>
<html lang="es">
<head>
   
    <title>UPostBag</title>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <navbar></navbar>
    
    <main class= "main">
        <div class="new-item-section">
            <button id="btn_add" class="material-icons add">add</button>
            <input type="text" id="new-article">
            <div class="items-list">
               <ul>
              
                </ul>
            </div>
           
          
        </div>
    </main>
    
    <footer class = "footer">
        <div class="container">
            <P>@UPostBag</P>
        </div>
    </footer>
</body>
</html>