body {
  background-color: #121212;
  color: #e8eaed;
  font-family: "Montserrat", sans-serif;
  font-style: bold;
  padding: 0px;
  width: 100%;
  margin: 0px;
}

html {
  background-color: #121212;
}
.loader {

  background-color: #121212;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -76px 0 0 -76px;
  border: 16px solid #2f3033; /* Light grey */
  border-top: 16px solid #78a6f0; /* Blue */
 
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.headerlabel {
  color: #ffff;
  font-weight: bold;
  margin:auto;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: right;
  font-size: 18px;
}

.mat-sidenav-content {
  width: 100%;
}
.header {
  background: #303134;
  margin: auto;
  padding-right: 16px;
  padding-left: 16px;
  width: 100%;
  overflow: hidden;

  height: 64px;


 
}



.logo-nav-container {
 
  
  margin: 0px;
  width: 100%; 
  height: 100%;
  padding: 1%;
  flex-direction: row;
 
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
 
  display: flex;
  align-items: center;

 

  
 
  
}

.logo-nav-container button {
  border: 0px;
  background: #303134;
  color: #9aa0a6;
  margin-right: 1.5%;
  margin-left: 1.5%;

}
.more {
  padding-top: 20%;
  text-align: end;
}

.new-item-section {
  padding-top: 3%;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 120px;
}

.new-item-section input {
  background: #202124;
  height: 100%;
  width: 40%;
  margin: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1.5px solid #414244;
  color: #9aa0a6;
  font-weight: bold;
  box-shadow: none;
}


.add {
  background: #202124;
  color: #9aa0a6;
  height: 100%;
  
  padding: 0px;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 1.5px solid #414244;
}

.suggestion-items {
  background: #202124;
  width: 46%;
  height: 10%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  margin: auto;
  margin-top: -0.6%;
  display: -webkit-flex;
  -webkit-flex-direction: column-reverse;
  display: flex;
  flex-direction: column-reverse;
  color: #fafafa;
  font-weight: bold;
  box-shadow: none;
}



.suggestion-items {
  background: #202124;
  width: 46%;
  height: 30%;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
  margin: auto;
  margin-top: -0.6%;
  display: -webkit-flex;
  -webkit-flex-direction: column-reverse;
  display: flex;
  flex-direction: column-reverse;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 1.5px solid #414244;
  margin-top: 2%;
  margin-right: 2%;
  border-radius: 6px;
  height: 50%;
  border: 1.5px solid #414244;
  background: #202124;
  color: #e8eaed;
  font-weight: bold;
}

.navigate_next {
  border-radius: 35px;
  height: 10%;
  width: 2.9%;
  color: 000000008a;
  background-color: #7baaf7;
  border: 0px;
}

.navigate_before {
  border-radius: 35px;
  height: 10%;
  width: 2.9%;
  color: 000000008a;
  background-color: #7baaf7;
  border: 0px;
}

.suggested-list button {
  margin-top: 2%;
  margin-right: 2%;
  border-radius: 6px;
  height: 50%;
  border: 1.5px solid #414244;
  background: #202124;
  color: #e8eaed;
  font-weight: bold;
}
.navigate_next {
  border-radius: 35px;
  height: 10%;
  width: 2.9%;

  ::-webkit-scrollbar {
    height: 4px;
    width: 4px;
    background: gray;
  }
  ::-webkit-scrollbar-thumb:horizontal {
    background-color: #000;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:vertical {
    border-radius: 0px;
    width: 0px;
  }
}

mat-sidenav-container {
  height: 100%;
 
}

mat-sidenav, mat-sidenav-content {
  padding: 0px;
}

mat-sidenav {

  background-color: #303134;
  max-width: 400px;
  width: 80%;
}

.navigate_before {
  border-radius: 35px;
  height: 10%;
  width: 2.9%;
  color: 000000008a;
  background-color: #7baaf7;
  border: 0px;
}

.agregar_colaborador:focus-within .add_colab_btn {
  visibility: visible;
  position: fixed;
  z-index: 99 !important; 
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.24);
 
}

.add_colab_btn {
  visibility: hidden;
  background-color: #2f3033;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-flex-direction: column-reverse;
  display: flex;
  flex-direction: column-reverse;
  min-width: 243px;
 
  right:24%;
  justify-items: center;

  position: absolute;


}
.add_colaborator{
  position: absolute;

}
.add_person{
  vertical-align: bottom;
  padding-right: 15px;
}
.text_button {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  justify-self: center;
  font-size: 14px;

}

.agregar_colaborador:before {
  content: #121212;
  border-style: solid;
  
}
.items-list {
  border: 1.5px solid #414244;
  background: #202124;
  color: #e8eaed;
  width: 46%;
  height: 70%;
  border-right: 0px;
  border-left: 0px;
  border-top: 0px;
  border-bottom: 1.5px solid #414244;
  margin: auto;
  display: flex;
  align-items: center;
  //justify-content: center;
  margin-top: 2%;
  //margin-right: 2%;
  border-radius: 6px;
}
.bodycontainer {
  text-align: center ;
  max-width: 600px;
  background-color: #202124;
margin-top: 2.8%;
}

.cards:hover{
box-shadow: 5px 6px 2px #bbbbbb;
color: rgb(52, 121, 248);
}
  
.cards{
  transition:all 0.2s ease;
cursor: pointer;
margin: 0%;

padding: 0%;
}
  
.padding-style{
  padding-left: 2px;
  padding-right: 2px;
}

.example-full-width{ 
width: 100%;

}
.icon-plus{
  margin-top: 0%;
}
.modal-body{
  border-top: 0 none;
  border-bottom: 0 none;
}
.modal-footer{
  border-top: 0 none;
}
.modal-header{
  border-bottom: 0 none;
}
.modaldeinfo{
  border-radius: 15px;

}


.modalCambiarNombre .modal-content {
  max-width: 340px;
  box-shadow: #ffff;
  -webkit-box-shadow: none;
  padding: 15px;


}
.modaldeinfo .modal-content {
  padding:15px;
  min-width: 648px;
  box-shadow: #ffff;
  -webkit-box-shadow: none;
}
.crearnuevalista .modal-content{
  padding:15px;
  min-width: 648px;
  box-shadow: #ffff;
  -webkit-box-shadow: none;
}

.modal-header h5{
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto,Helvetica-neue,sans-serif;
  letter-spacing: normal;
  color:#e0e2e5;
}
.modal-body p{
  font-family: Roboto,Helvetica-neue,sans-serif;
  letter-spacing: .2px;
  font-size: 14px;
  color:#9aa0a6;
}

.modal-body input {
  font-family: Roboto,Helvetica-neue,sans-serif ;
  font-size: 14px;

  letter-spacing: .2px;
  margin-bottom: 20px;
  background-color: #202124; ///
  color:#fff;
  box-sizing: border-box;
  border: none;
  outline: none;
 
}

.modalCambiarNombre .modal-body .new-name{
  width: 100%;
}
.modal-body .new-article {
  width: 100%;

}

/*
.new-article input:required {
  border-color: #800000;
  border-width: 3px;
}
.new-article input:required:invalid {
  border-color: #c00000;
}

.crearnuevalista .modal-body input{
  border-bottom: 0 none;
  flex-direction: row;

  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;

}

*/



.modal-body label{
  font-family: Roboto,Helvetica-neue,sans-serif ;
  font-size: 15px;
  padding-left:12px;
  align-self: flex-start;

  letter-spacing: .2;
  vertical-align: top;

}

.modal-footer button{
  color: #78a6f0;
  background-color: #202124;
  font-weight: bold;
  border:0px;
}
.modal-content{
  background-color: #202124;

  
}
input:invalid:required  {
///
  
}

//Loading SCSS