<form [formGroup]="creacionLista">
    <div >
        <div >
          <div  >
            <div class="modal-header">
              <h5>Cree una nueva lista</h5>
            </div>
            <div class="modal-body">
              <input type="text" placeholder="Asigne un nombre a su nueva lista" formControlName="listname">
              <br>
              <input type="checkbox" formControlName="isPrimary">Deseo que esta sea mi lista principal
            </div>
            <div class="modal-footer">
              <button (click)="onClose()">CANCELAR</button>
              <button type="submit" (click)="createNewList()">CREAR</button>
            </div>
          </div>
        </div>
      </div>
</form>
<!-- <form [formGroup]="creacionLista"->
    <div id="crearnuevalista" class="modal fade" role="dialog"  tabindex="-1">
      <div class="modal-dialog modal-dialog-centered"  >
        <div class="modal-content" >
          <div class="modal-header">
            <h5>Cree una nueva lista</h5>
          </div>
          <div class="modal-body">
            <input type="text" id="new-article" placeholder="Asigne un nombre a su nueva lista" formControlName="listname">
            <br>
            <input type="checkbox" placeholder="Deseo que esta sea mi lista principal" formControlName="isPrimary">Deseo
            que esta sea mi lista principal
          </div>
          <div class="modal-footer">
            <button type="button" class="btn_cancelarCrearList" data-bs-toggle="modal">CANCELAR</button>
            <button class="btn_crear" type="submit" (click)="createNewList()" >CREAR</button>
          </div>
        </div>
      </div>
    </div>
  </form> -->