
 body {
  background: #121212;
  color:#E8EAED;
  font-family: 'Montserrat', sans-serif;
  font-style:bold;
  padding: 0px;
  margin: 0px;
}

.new-item-section {
  text-align: center;
  justify-content:center;
  align-items:center;
  height:10%;
   
}

.new-item-section input {
background:#202124;
height:100%;
margin:0px;
padding-top: 0px;
border-right:0px;
border-bottom:1px solid #303134;
font-family: 'Montserrat', sans-serif;


}
.add{
background:#202124;
 color:#9AA0A6;
height: 100%;

align-self: center;
border-right:0px;
border-left:0px;
border-top:0px;
border-bottom:1px solid #303134;

}
.header {
  background: #303134;
  margin:auto;
  height: 10%;
  font-weight: bold;


}
.logo-nav-container{
 align-items: stretch;
 display: flex;
 justify-content: space-between;
 align-items:center;
  

} 
.btn_guardar{
   font-family: 'Montserrat', sans-serif;
}


.logo-nav-container button {
border:0;
background:#303134;
color:#9AA0A6;
  
font-weight: bold;
}


.new-colab-section {
padding-top: 3%;
text-align: center;
justify-content:center;
display:flex;
height: 120px;

}

.new-colab-section input {
background:#202124;
height:100%;
width: 40%;
margin:0px;
border-left:0px;
border-right:0px;
border-bottom:1.5px solid #414244;
color: #fafafa;
font-weight:bold ;

box-shadow: none;

}

.person_add{
background:#202124;
color:#9AA0A6;
height: 100%;
width:6%;
padding:0px;
border-right:0px;
border-left:0px;
border-top:0px;
border-bottom:1.5px solid #414244;

}
.shared-with-list{
font-family: 'Montserrat', sans-serif;
font-weight:bold;
background:#202124;
width:46%;
height: 30%;
margin:auto;
border-right:0px;
border-left:0px;
border-top:0px;
border-bottom:1.5px solid #414244;
}
.suggestions {
font-family: 'Montserrat', sans-serif;
font-weight:bold;
background:#202124;
width:46%;
height: 30%;
margin:auto;
border-right:0px;
border-left:0px;
border-top:0px;
border-bottom:1.5px solid #414244;


}
.suggesteds button{

 margin-top:2%;
 margin-right: 2%;
 border-radius:6px;
 height: 50%;
 border:1.5px solid #414244;
 background:#202124;
 color:#E8EAED;
 font-weight: bold;


}