<!DOCTYPE html>

<html lang="es">
<head>
   
    <title>UPostBag</title>
    <meta charset="UTF-8">
   
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;600&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>

    <header class= "header">
        <div class="container logo-nav-container">
          
         
             <button  id="btn_menu" class="material-icons" (click)="click_Notif_GoBack(true)" >arrow_back</button>
             <label>Compartir UPostBag Shopping List</label>
    
              <button id="btn_guardar"  class="btn_guardar">GUARDAR</button>
    
         
              <div class= "agregar_colaborador"> 
                
    
            </div>
    
     
            
      </div>     
       
    </header>
  
      <main class= "main">
        <div class="new-colab-section">
            <button id="btn_add" class="material-icons person_add">person_add</button>
            <input type="text" id="new-article" placeholder="Ingrese un nombre o correo electrónico">
          
        </div>
        <div class="suggestions">
          <label>Sugerencias</label>
        
       
        </div>
            <div class="shared-with-list">
               <ul>
                 Compoartidos con:
                 <tbody>
                  <tr *ngFor=" let users of collaboratorsUsers; let i = index">
                    <td>
                      <span>
                        {{users}}
                        <br>
                        items 1
                      </span>
                    </td>
                    <td>
                      boton
                    </td>
                  </tr>
                </tbody>

               </ul>
            </div>
    </main>

</html>